body
	background #EFEFF4
*
	margin 0
	padding 0
.login
	height 50px
	background white
	text-align center
	font-size 24px
	line-height 50px
	.login_back
		width 25px
		height 25px
		background url('../../img/nav_back_icon@2x.png') no-repeat
		position absolute
		left 20px
		top 15px
		background-size 40%	

.personal_info
	padding 10px
	padding-top 0
	background white
	margin-top 12px	
	color #666	
	.personal_info_li
		display flex
		line-height 40px	
		position relative
		border-bottom 1px solid #E5E5E5	
		
		.personal_info_txt
			flex 3		
		.personal_info_txt2
			flex 4
			margin-left 10px
			margin-right 20px
			white-space nowrap
			overflow hidden
		.myself_option_more
			position absolute
			width 20px
			height 20px	
			background url('../../img/info/content_list_right_icon@2x.png') no-repeat
			background-size 40%
			top 14px
			right -3px
	.material
		display flex
		margin-top 20px	
		li
			flex 3
			list-style none
			color #666
			.material_pic
				display block				
				width 100px
				height 70px
				border-radius 5px
				background #878787
				margin 5px 10px		
			.material_txt
				display block		
				font-size 12px	
				text-align center
.personal_info_txt2_pic
	width 36px
	height 36px	
	display block
	margin-top 2px
	background url('../../img/info/log in_user-head@2x.png') no-repeat
	background-size 100%		
		
		
		
		
		