body
	background #EFEFF4
*
	margin 0
	padding 0	
.myself_top
	height 40px
	background white
	text-align center
	line-height 40px
	font-weight bold
	font-size 20px
.options
	width 18px
	height 18px
	position absolute	
	display block
	background url('../../img/nav_set_icon@2x.png') no-repeat center
	background-size 100%
	right 10px
	top 11px
.myself_login
	display flex
	margin-top 12px
	background white	
.myself_login_pic
	width 80px
	height 80px	
	background url('../../img/info/log in_user-head@2x.png') no-repeat center
	border-radius 50%
	background-size 100%
	margin 10px
	
.myself_login_click
	width 65%
	line-height 100px
.more
	width 20px
	height 20px	
	background url('../../img/info/log in_right_icon@2x.png') no-repeat center	
	background-size 60%
	margin-top 40px
.collection
	background white
	margin-top 1px
	text-align center	
	line-height 40px
	.segmentation
		color #E3E4E7	
		padding 5px 18%
		font-size 20px
	.number
		font-size 24px	
	.collection_text
		font-size 14px	
		color #666
		margin-left 5px
.demand
	background white
	margin-top 12px		
	line-height 50px
	display flex
	.demand_pic
		width 30px
		height 28px
		display block
		background url('../../img/info/content_list_icon01@2x.png') no-repeat center	
		background-size 90%
		margin 11px 15px
	.demand_pic2
		width 30px
		height 28px
		display block
		background url('../../img/info/content_list_icon02@2x.png') no-repeat center	
		background-size 90%
		margin 11px 15px
	.demand_pic3
		width 30px
		height 28px
		display block
		background url('../../img/info/content_list_icon05@2x.png') no-repeat center	
		background-size 90%
		margin 11px 15px
	.demand_pic4
		width 30px
		height 28px
		display block
		background url('../../img/info/content_list_icon03@2x.png') no-repeat center	
		background-size 90%
		margin 11px 15px	
	.demand_pic5
		width 30px
		height 28px
		display block
		background url('../../img/info/content_list_icon04@2x.png') no-repeat center	
		background-size 90%
		margin 11px 15px			
	.demand_more
		width 20px
		height 20px
		display block
		background url('../../img/info/content_list_right_icon@2x.png') no-repeat center
		background-size 50%
		margin-top 15px
	.demand_txt
		width 76%	
.myself_bottom
	width 100%
	display flex
	position absolute
	bottom 0
	background white	
	padding 10px 0
	position fixed
	bottom 0
	li
		list-style none
		flex 3
		color #999
		font-size 14px
		text-align left
		width 25%
		margin-left 25px
		
		span
			text-align center
			display block
			width 28px
			height 28px
			
		.myself_bottom_pic1
			background url('../../img/info/bottom_nor_icon04@2x.png') no-repeat center
			background-size 100%		
		.myself_bottom_pic2
			background url('../../img/info/bottom_nor_icon03@2x.png') no-repeat center
			background-size 100%	
		.myself_bottom_pic4
			background url('../../img/info/bottom_nor_icon02@2x.png') no-repeat center
			background-size 100%
		.myself_bottom_pic5
			background url('../../img/info/bottom_nor_icon01@2x.png') no-repeat center
			background-size 100%
		a
			margin-left 8px
		.myself_bottom_pic3	
			width 50px
			height 40px	
			border-radius 5px
			background url('../../img/info/bottom_icon05@2x.png') no-repeat center
			background-size 100%
			margin-left -10px
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	