@import './myself_option.css'
@import './myself.css'
.logo
	width 80px
	height 80px
	background url('../../img/info/content_img_logo@2x.png') no-repeat center
	background-size 100%	
	margin 0 auto
	margin-top 60px
	margin-bottom 15px
.logo_text
	display flex	
	width 130px
	margin 0 auto
	color #666
	margin-bottom 60px
	.logo_text_pic
		width 80px
		height 22px
		display block	
		background url('../../img/info/content_text_logo@2x.png') no-repeat center
		background-size 100%
		margin-right 10px
		
.demand
	padding 0 10px	
	position relative	
	.demand_txt2
		display block
	.demand_more
		position absolute
		
		right 15px
	.demand_txt
		width 65%
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	