@import './myself_about.css'
.exit
	background white
	text-align center
	margin-top 20px
	height 50px
	line-height 50px
	color #666
	&.active
		background #EA5404
		color #fff
.demand .demand_txt
	width 80%
	color #666
.demand .demand_txt2
	color #888	
.demand_on
	width 60px
	height 36px
	background #EA5404
	border-radius 36px
	margin-top 7px
	.demand_off
		width 34px
		height 34px	
		margin-top 1px
		background white
		border-radius 50%
		box-shadow inset 0 -3px 3px #ccc
		&.active
			margin-left 25px































