body
	background #EFEFF4
*
	margin 0
	padding 0	
.login
	height 40px
	background white
	text-align center
	color #EA5404
	font-weight bold
	font-size 20px
	line-height 40px
	margin-bottom 30px
	.login_back
		width 25px
		height 25px
		background url('../img/nav_back_icon@2x.png') no-repeat
		position absolute
		left 20px
		top 10px
		background-size 40%


.login_input
	display flex
	background white
	line-height 40px
	margin-bottom 1px
	position relative
			
	.login_name
		flex 1
		display block
		width 40px
		height 40px
		background url('../img/content_ID_icon@2x.png') no-repeat center
		background-size 40%
	.login_check
		flex 1
		display block
		width 40px
		height 40px
		background url('../img/content_verify_icon@2x.png') no-repeat center
		background-size 25%
	.login_pass	
		flex 1
		display block
		width 40px
		height 40px
		background url('../img/content_password_icon@2x.png') no-repeat center
		background-size 30%
	.login_stau
		flex 1
		display block
		width 40px
		height 40px
		background url('../img/content_position_icon@2x.png') no-repeat center
		background-size 35%
	.style_chose
		position absolute
		width 25px
		height 25px
		background url('../img/nav_back_icon@2x-2.png') no-repeat center
		position absolute
		right 20px
		top 10px
		background-size 60%
		
	.name
		flex 5	
		display block
		border none
		outline none
		
		
	.password
		flex 5	
		border none
		outline none
	.check
		background #EA5404
		font-size 12px	
		line-height 18px
		padding 4px
		border-radius 5px
		color #fff
		position absolute
		right 15px
		top 7px
.login_log
	width 95%	
	height 50px
	margin 50px auto
	font-size 20px
	background #C7C7C7
	color white
	text-align center
	line-height 50px
	border-radius 5px
.zhuce_info
	margin-top -30px
	
	font-size 12px
	text-align center	
	.xieyi
		margin-left 4px
		color #EA5404
		text-decoration underline	
li
	list-style none
	margin-bottom 1px
	background #A3A3A3
	color #fff
	padding 10px
	font-size 14px
	
ul	
	position absolute
	border-radius 5px
	line-height 12px
	overflow hidden
	top 30px
	right 20px	
	display none	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
