@import '../info/myself.css';
body {
  padding-bottom: 70px;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.yuyue_top {
  width: 100%;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  color: #333;
}
.yuyue_info {
  background: #fff;
  width: 100%;
  margin-top: 12px;
  display: flex;
  height: 115px;
  position: relative;
  padding-bottom: 15px;
}
.yuyue_info .yuyue_info_pic {
  flex: 1;
  width: 100px;
  height: 70px;
  background: url("../../img/subscribe/content_img@2x.png") no-repeat center;
  background-size: 100%;
  margin: 15px;
  margin-right: 0;
  border-radius: 5px;
}
.yuyue_info .yuyue_info_box {
  flex: 2;
  margin: 15px;
}
.yuyue_info .yuyue_info_box .yuyue_info_box1 {
  display: flex;
  font-size: 12px;
  color: #666;
}
.yuyue_info .yuyue_info_box .yuyue_info_box1 .yuyue_info_box1_t {
  background: url("../../img/subscribe/content_icon@2x.png") no-repeat left;
  background-size: 12px 12px;
  padding-left: 16px;
  color: #ccc;
  margin-left: 45px;
}
.yuyue_info .yuyue_info_box .yuyue_info_box2 {
  text-indent: 2em;
  font-size: 14px;
  color: #666;
}
.yuyue_info .yuyue_info_box .yuyue_info_box3 {
  font-size: 12px;
  color: #ff8a00;
}
.yuyue_info .yuyue_info_btn {
  position: absolute;
  display: block;
  padding: 0 15px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  background: #ea5404;
  right: 20px;
  bottom: 10px;
  font-size: 12px;
  border-radius: 5px;
}
.yuyue_info .yuyue_info_btn.active {
  background: #fff;
  color: #666;
}
.yuyue_info .delete {
  width: 100px;
  height: 130px;
  color: #fff;
  background: #ff3b30;
  position: absolute;
  top: 0;
  right: -100px;
  font-size: 20px;
  text-align: center;
  line-height: 130px;
}
