<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州小蓓网络科技有限公司" />
		<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />		
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>命古屋 - 杭州小蓓网络科技有限公司</title>
		<link rel="stylesheet" href="./public/css/login.css" />	
		
			
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>登录</span>
		</div>
		<div class="login_mi">
			
		
			<div class="login_input">
			<div class="login_name"></div>账号：<input class="name" type="text" placeholder="请输入你的手机号"/>

			</div>
			<div class="login_input">
				<span class="login_password"></span>密码：<input class="password" type="text" placeholder="请输入你的账号密码"/>
			</div>
		</div>
		
		
		<div class="login_log">登录</div>
		<div class="login_logmore"><span class="zhuce">注册</span><span class="forget">忘记密码？</span></div>
		
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/libs/zepto/touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/login.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
