body {
  background: #efeff4;
}
* {
  margin: 0;
  padding: 0;
}
.login {
  height: 40px;
  background: #fff;
  text-align: center;
  color: #ea5404;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;
}
.login .login_back {
  width: 25px;
  height: 25px;
  background: url("../img/nav_back_icon@2x.png") no-repeat;
  position: absolute;
  left: 20px;
  top: 10px;
  background-size: 40%;
}
.login_input {
  display: flex;
  background: #fff;
  line-height: 40px;
  margin-bottom: 1px;
  position: relative;
}
.login_input .login_name {
  flex: 1;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/content_ID_icon@2x.png") no-repeat center;
  background-size: 40%;
}
.login_input .login_check {
  flex: 1;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/content_verify_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.login_input .login_pass {
  flex: 1;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/content_password_icon@2x.png") no-repeat center;
  background-size: 30%;
}
.login_input .name {
  flex: 5;
  display: block;
  border: none;
  outline: none;
}
.login_input .password {
  flex: 5;
  border: none;
  outline: none;
}
.login_input .check {
  background: #ea5404;
  font-size: 12px;
  line-height: 18px;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 7px;
}
.login_log {
  width: 95%;
  height: 50px;
  margin: 50px auto;
  font-size: 20px;
  background: #c7c7c7;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}
