body {
  background: #efeff4;
}
* {
  margin: 0;
  padding: 0;
}
.login {
  height: 40px;
  background: #fff;
  text-align: center;
  color: #ea5404;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.login .login_back {
  width: 25px;
  height: 25px;
  background: url("../img/nav_back_icon@2x.png") no-repeat;
  position: absolute;
  left: 20px;
  top: 10px;
  background-size: 40%;
}
.yys_text {
  color: #b8b8b8;
  display: block;
  font-size: 14px;
  margin: 8px 15px;
}
.yys_body {
  background: #fff;
  padding: 10px;
}
.head_p {
  width: 140px;
  height: 90px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
}
.head_pic {
  width: 80px;
  height: 80px;
  background: #878787;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 80px;
}
.text {
  display: block;
  width: 220px;
  height: 30px;
  margin: 5px auto;
  padding-left: 10px;
  background: #efeff4;
  border-radius: 2px;
  border: none;
  outline: none;
}
.login_log {
  width: 95%;
  height: 50px;
  margin: 50px auto;
  font-size: 20px;
  background: #ea5404;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
}
.material {
  display: flex;
}
.material_pic {
  list-style: none;
  flex: 3;
  width: 100px;
  height: 70px;
  border-radius: 5px;
  background: #878787;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 12px;
  margin: 5px 10px;
}
