@import '../info/option.css'
body
	padding-bottom 50px
.indent_promit
	width 100%
	line-height 40px
	color #888
	font-size 14px
	padding-left 15px
.book_pep
	width 100%
	background #fff
	height 70px
	display flex
	position relative
	.book_pep_pic1
		width 50px
		height 50px
		border-radius 50%
		background url('../../img/subscribe/content_img_user@2x.png') no-repeat center	
		background-size 100%
		margin 10px
	.book_pep_txt
		margin-top 10px		
		.book_pep_txt1
			display block
			font-size 20px
			line-height 28px		
		.book_pep_txt2
			font-size 14px
			color #888	
	.book_pep_pic2
		width 100px
		height 40px
		background url('../../img/subscribe/content_icon_call@2x.png') no-repeat center	
		background-size 25%
		border-left 1px solid #ECECEC
		margin-top 15px	
		position absolute
		right 0	
.indent_info
	background #fff
	padding 15px	
	.indent_info_tt
		font-size 22px
		font-weight bold
		color #333	
	.indent_info_txt1
		color #888
		display flex
		line-height 20px
		.indent_info_txt1_i1
			flex 1
		.indent_info_txt1_i2
			flex 1	
	.indent_info_txt2
		color #888	
		display flex
		line-height 20px
		.indent_info_txt2_i1
			flex 1
		.indent_info_txt2_i2
			flex 1
.indent_time
	background #fff
	line-height 50px		
	padding-left 15px	
.indent_style
	background #fff
	li
		display flex
		border-bottom 1px solid #E5E5E5	
		margin-left 15px
		.indent_style_date
			margin-top 4px
			flex 1
		span
			line-height 40px
			padding-right 15px	
		.week
			font-size 12px
			margin-left 6px
.indent_bottom
	background #fff
	position fixed
	bottom 0
	width 100%
	display flex
	font-size 22px
	line-height 50px
	color #EB6021
	border-top 1px solid #E2E3E7
	span
		flex 1
		text-align center		
	.indent_bottom_txt
		border-left 1px solid #E2E3E7	
		border-right 1px solid #E2E3E7
.phone
	display none
	position fixed
	top 0
	width 100%
	height 667px
	background rgba(0,0,0,0.5)		
	.phone_sure
		background #fff	
		width 240px
		margin 300px auto
		border-radius 10px
		text-align center
		.phone_sure_txt1
			line-height 50px
			font-size 12px
			color #888
		.phone_sure_txt2
			border-top 1px solid #ccc
			display flex
			span
				flex 1
				line-height 40px
				color #888
			.queren
				border-left 1px solid #ccc
				color #EC6C00
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		