<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州小蓓网络科技有限公司" />
		<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />		
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>命古屋 - 杭州小蓓网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/info/myself_option.css" />	
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>个人资料</span>
		</div>
		<div class="personal_info">
			<ul>
				<li class="personal_info_li"><span class="personal_info_txt">头像</span><span class="personal_info_txt2 "><span class="personal_info_txt2_pic"></span></span><span class="myself_option_more"></span></li>
				<li class="personal_info_li"><span class="personal_info_txt">简介</span><span class="personal_info_txt2">以前喜欢一个人，现在喜欢一个人</span><span class="myself_option_more"></span></li>
				
				<li class="personal_info_li"><span class="personal_info_txt">企业邮箱/公司总机</span><span class="personal_info_txt2">823546415@qq.com</span><span class="myself_option_more"></span></li>
				<li class="personal_info_li"><span class="personal_info_txt">联系人</span><span class="personal_info_txt2">张三</span><span class="myself_option_more"></span></li>
				<li class="personal_info_li"><span class="personal_info_txt">联系方式</span><span class="personal_info_txt2">18956024163</span><span class="myself_option_more"></span></li>
				<li class="personal_info_li"><span class="personal_info_txt">微信号码</span><span class="personal_info_txt2">18956024163</span><span class="myself_option_more"></span></li>
			</ul>
			<ul class="material">
				<li><span class="material_pic"></span><span class="material_txt">微信二维码</span></li>
				<li><span class="material_pic"></span><span class="material_txt">营业执照</span></li>
				<li><span class="material_pic"></span><span class="material_txt">运营/租赁协议</span></li>
			</ul>
		</div>
	</body>
</html>
