<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州小蓓网络科技有限公司" />
		<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />		
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>命古屋 - 杭州小蓓网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/info/option.css" />
	</head>
	<body>
		<div class="login">
			<span class="login_back"></span><span>设置</span>
		</div>
		
		
		<div class="demand">
			
			<span class="demand_txt">接收需求</span>
			
			<div class="demand_on"><div class="demand_off"></div></div>
		</div>
		<div class="demand">			
			<span class="demand_txt">关于</span>
			<span class="demand_more demand_about"></span>
		</div>
		<div class="demand">	
			<span class="demand_txt">清除缓存</span>
			<span class="demand_txt2">7.02M</span>
			<span class="demand_more"></span>
		</div>
		<div class="exit">退出登录</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/libs/zepto/touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/info/option.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
