@import '../info/myself.css'
body 
	padding-bottom 50px
.title_bg
	background white
	padding 10px 0
.title
	width 60%
	border 1px solid #EA5404
	margin 0 auto
	display flex
	border-radius 5px
	
	span
		display block
		flex 1
		text-align center
		line-height 34px
		color #EA5404
		&.active
			background #EA5404
			color white
	.title_text2
		border-left 1px solid #FBDCCC
		border-right 1px solid #FBDCCC
	
.notice
	width 90%
	background white
	margin 10px auto
	border-radius 5px
	padding 10px
	color #666
	.notice_box1
		display flex
		height 40px
		border-bottom 1px solid #EFEFF4
		.notice_box1_txt2
			flex 1
			display block
			background #15B755
			font-size 12px
			color white
			width 50px
			height 20px
			border-radius 3px
			text-align center
			line-height 20px
			margin-top 6px
			margin-right 3px
		.notice_box1_txt1
			display block
			flex 4
				
			line-height 40px
	.notice_box2
		font-size 14px
		margin 15px 0
		
	.notice_box3
		width 100%
		position relative
		.notice_box3_txt1
			display block
			width 100px
			height 30px
			line-height 30px
			margin 0 auto
			background #EFEFF4
			text-align center
			border-radius 3px
			font-size 14px
			
			
		.notice_box3_txt2
			font-size 12px
			line-height 30px
			position absolute
			right 0
			top 0


















