body {
  background: #fff;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.city_chose {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #ececef;
}
.city_chose .city_close {
  position: absolute;
  color: #ea5709;
  left: 10px;
  top: 0;
}
.city_options li {
  line-height: 40px;
  border-bottom: 1px solid #ececef;
  font-size: 14px;
  margin-left: 20px;
  color: #666;
}
