<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州小蓓网络科技有限公司" />
		<meta name="description" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />		
		<meta name="viewport" 
			content="width=device-width,initial-scale=1,
			maximun-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>命古屋 - 杭州小蓓网络科技有限公司</title>
		<link rel="stylesheet" href="../public/css/information/information_demand.css" />
	</head>
	<body>
		<div class="title_bg">
			<div class="title">
				<span class="title_text1 active">消息</span>
				<span class="title_text2">通知</span>
				<span class="title_text3">需求</span>
			</div>
		</div>
		
		<div class="notice">
			<div class="notice_box1"><span class="notice_box1_txt1">一个新的租房需求</span><span class="notice_box1_txt2">租户</span></div>
			<div class="notice_box2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
			<div class="notice_box3"><span class="notice_box3_txt1">了解详情</span><span class="notice_box3_txt2">08/04/13:06</span></div>
		</div>
		
		<div class="notice">
			<div class="notice_box1"><span class="notice_box1_txt1">一个新的租房需求</span><span class="notice_box1_txt2">租户</span></div>
			<div class="notice_box2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
			<div class="notice_box3"><span class="notice_box3_txt1">了解详情</span><span class="notice_box3_txt2">08/04/13:06</span></div>
		</div>
		
		<div class="notice">
			<div class="notice_box1"><span class="notice_box1_txt1">一个新的租房需求</span><span class="notice_box1_txt2">租户</span></div>
			<div class="notice_box2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
			<div class="notice_box3"><span class="notice_box3_txt1">了解详情</span><span class="notice_box3_txt2">08/04/13:06</span></div>
		</div>
		
		<div class="notice">
			<div class="notice_box1"><span class="notice_box1_txt1">一个新的租房需求</span><span class="notice_box1_txt2">租户</span></div>
			<div class="notice_box2">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</div>
			<div class="notice_box3"><span class="notice_box3_txt1">了解详情</span><span class="notice_box3_txt2">08/04/13:06</span></div>
		</div>
		<ul class="myself_bottom">
			<li><span class="myself_bottom_pic1"></span>首页</li>
			<li><span class="myself_bottom_pic2"></span>预约</li>
			<li><span class="myself_bottom_pic3"></span></li>
			<li><span class="myself_bottom_pic4"></span>信息</li>
			<li><span class="myself_bottom_pic5"></span><a>我</a></li>
		</ul>
		
		
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/libs/zepto/touch.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/info/myself.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/information/information_demand.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
