@import '../info/myself.css'
body
	background #EFEFF4
	padding-bottom 50px
	&.active
		padding-top 55px	
*
	margin 0
	padding 0

.page_bg
	width 100%
	height 320px
	overflow hidden
	background url('../../img/home_page/banner_img@2x.png') no-repeat center
	background-size 100%
	background-color transparent
	&.active
		height 0
	.page_bg_top
		position absolute
		top -20px
		width 100%
		height 64px
		background url('../../img/home_page/banner_img_shadow@2x.png') no-repeat center
		background-size 100%
		
.page_bg_t
	width 100%
	height 55px
	color white
	display flex
	position absolute
	top 0
	&.active
		background #3C3C3B
	.page_city
		display flex
		margin 20px 5%
		.page_city_text
			width 40px
			text-align center
		.page_city_chose
			display inline-block
			width 10px
			height 10px
			background url('../../img/home_page/nav_icon_down@2x.png') no-repeat center
			background-size 100%
			margin-top 5px
			margin-left 5px
	.page_live
		font-size 22px
		width 150px		
		margin-top 20px
		margin-left 15%
		&.active
			display none
.shuffling
	display flex
	margin 300px auto
	width 60px
	li
		width 10px
		height 10px
		list-style none
		margin 0 3px		
		background url('../../img/home_page/banner_icon_point_nor@2x.png') no-repeat center
		background-size 100%
		&.active
			background url('../../img/home_page/banner_icon_point_press@2x.png') no-repeat center
			background-size 100%
				
.search
	position absolute
	top 50px
	width 90%
	height 40px 
	border-radius 5px
	color #ccc
	font-size 14px
	text-align center
	line-height 40px
	background white
	margin-left 5%
	&.active
		top 8px
		width 50%
		margin-left 25%
	.search_pic
		background url('../../img/home_page/banner_icon_search@2x.png') no-repeat center
		background-size 80%
		display inline-block
		width 20px
		height 20px
		margin-bottom -5px
		
.query_box
	display flex
	width 100%
	height 50px
	margin-top 2px
	background-color #fff
	.query_block
		flex 1
		list-style none
		
		&.active
			color #EA5404
		.text
			display block
			height 35px
			text-align center
			line-height 35px
			border-right 1px solid #EFEFF4
		.icon
			display block
			height 10px
			background url("../../img/Home_page/content_icon02_nor@2x.png") no-repeat center
			background-size 15%
	.query_price
		width 50px
		height 50px
		list-style none
		background url("../../img/Home_page/content_icon01_nor@2x.png") no-repeat center
		background-size 30px
		&.active-down
			background url("../../img/Home_page/content_icon01_down@2x.png") no-repeat center
			background-size 30px
		&.active-up
			background url("../../img/Home_page/content_icon01_litre@2x.png") no-repeat center
			background-size 30px
			
.down-box
	width 100%
	list-style none
	display none
	background #F0F0F0
	.price
		width 100%	
		text-align center
		li
			line-height 40px
			margin 1px 0
		.chose_sure
			position relative
			.price_in
				width 50px
				height 30px
				border none
				border-radius 5px
			.sure
				height 30px
				line-height 30px
				width 50px
				border-radius 5px
				background white
				position absolute
				top 0
				right 30px
	.down-box_bg
		display flex
		margin-top 1px
		.left_navigation
			width 50%
			li
				list-style none
				line-height 40px
				padding-left 10px
			.left_navigation_fir
				background white	
		.right_navigation
			width 50%
			background white
			padding-left 10px
			li
				list-style none
				line-height 40px
				border-top 1px solid #F0F0F0
			.hue
				color #EA5404
		.conceal
			display none
		
.exhibition
	background white
	margin-top 1px
	margin-bottom 10px
	display flex
	padding 10px
	.exhibition_pic 
		width 128px
		height 90px
		background url("../../img/Home_page/content_img_list@2x.png") no-repeat center
		background-size 100%
		margin-right 20px
	.exhibition_txt1
		font-size 20px
		line-height 26px
		position relative
		.exhibition_txt1_pic
			display block
			width 20px
			height 20px
			position absolute
			background url("../../img/Home_page/collect_icon_nor@2x.png") no-repeat center
			background-size 100%
			right 0
			top 5px
	.exhibition_txt2
		font-size 14px	
		color #666
		line-height 22px 
	.exhibition_txt3_in
		display block
		width 60px
		font-size 12px	
		text-align center
		line-height 16px 
		color #EA5404
		border 1px solid #EA5404
		border-radius 5px
	.exhibition_txt4
		font-size 12px
		color #666
		line-height 22px 
		.yuan
			color #EA5404
			font-size 16px
			margin-right 6px
		.commission
			margin-left 30px
		
.back_top
	position fixed
	right 30px
	bottom 100px
	width 50px
	height 50px
	background url("../../img/Home_page/content_btn_back@2x.png") no-repeat center
	background-size 100%	
	
		
		
		
		
		
		
		
		
		
		
		
		
		


